<header>
    <div class = title>
        <h1>100 Thousand</h1>
        <h2>Billion</h2>
        <h3>Bryn Mawrs</h3>
    </div>
    <div class = "box">
        <p>Inspired by Raymond Queneau's 1961 project, <em>100 Thousand Billion Poems</em>, this project uses creative constraints to generate 100 Thousand Billion possible undergraduate curricula for Bryn Mawr College.</p>
         <button id="mainButton" onclick="loading()">Show me one possible Bryn Mawr</button>
        <p id="demo"></p>
    </div>
</header>