<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    <main>
        {% include header.html %}
        <div id="main-content">
            <!-- <h4>At this Bryn Mawr... </h4> -->
            <div id="initial-content" class=""><h4>At this Bryn Mawr...</h4></div>
            <div id="loader-container" class="hidden">Loading...<!--<div class="loader"></div>--></div>
            <div id="iframe-container" class="hidden">
                <iframe id="main-iframe" title="About this Bryn Mawr" src="{{ page.iframe-src }}" onload="reveal()"></iframe>
            </div>
        </div>
        {% include footer.html %}
    </main>
</body>
</html>

<script>
    // JavaScript for the Main Button

    var button = document.getElementById("main-button");
    var initial = document.getElementById("initial-content");
    var loader = document.getElementById("loader-container");
    var iframe = document.getElementById("main-iframe");
    var iframeContainer = document.getElementById("iframe-container");

    // Function for when the 
    function loading(){
        // hide initial content and iframe
        initial.classList.add("hidden");
        iframeContainer.classList.add("hidden");
        // show the loader
        loader.classList.remove("hidden");
        // reload the iframe by "changing" src
        iframe.src = iframe.src;
        console.log("Loading...");
    }

    function reveal(){
        initial.classList.add("hidden");
        loader.classList.add("hidden");
        iframeContainer.classList.remove("hidden");
        console.log("Done loading!");
    }
</script>