<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    <main>
        {% include header.html %}
        <div id="main-content">
            <div id="loader-container" class=""><div class="loader"></div></div>
            <div id="iframe-container" class="hidden">
                <iframe id="main-iframe" title="About this Bryn Mawr" src="{{ page.iframe-src }}" onload="reveal()"></iframe>
            </div>
        </div>
        {% include footer.html %}
    </main>
</body>
</html>

<script>
    // JavaScript for the Main Button

    var button = document.getElementById("main-button");
    var loader = document.getElementById("loader-container");
    var iframe = document.getElementById("main-iframe");
    var iframeContainer = document.getElementById("iframe-container");

    function loading(){
        // hide the iframe
        iframeContainer.classList.add("hidden");
        // show the loader
        loader.classList.remove("hidden");
        // reload the iframe by "changing" src
        iframe.src = iframe.src;
        console.log("Loading...");
    }

    function reveal(){
        // hide the loader
        loader.classList.add("hidden");
        // show the iframe
        iframeContainer.classList.remove("hidden");
        console.log("Done loading!");
    }
</script>